//Variables
$field-color1: #5075bf;
$field-color2: #6080bf;
$field-color3: #324759;
$field-color4: #8bb4d9;
$field-color5: #d9d9d9;
$field-color6: #f2cc39;

// sizes
// $field-height: 65px;
// $field-border-radius: 8px;
